@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #fb5a36;
    --color-secondary: #fc7b5e;
}




@font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansX-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansX-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansX-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansX-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansX-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansX-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansX-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansX-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansX-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: 'IRANSansX', sans-serif;
}

.dir-ltr {
    direction: ltr;
}

.btn {
    outline: 0 !important;
    @apply !shadow-none transition-transform active:translate-0 active:scale-105
}

label {
    @apply !outline-0
}

.gradient-border-card {
    border-radius: 0 0 16px 16px;
    border-bottom: 1px solid transparent;
    /* Primary color for the bottom border */
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(0deg, var(--color-primary), transparent);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.swiper-pagination-bullet {
    @apply transition-transform
}

.swiper-pagination-bullet-active {
    @apply !bg-primary scale-150
}

/* 
.moz::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 32px;
    padding: 2px;
    background: linear-gradient(35deg, #5F5753, #ffffff, #ffffff);
    -webkit-mask:
        linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
} */


.moz i {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 30px;
    padding: 2px;
    /* the thickness of the border */
    /* the below will do the magic */
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        /* this will cover only the content area (no padding) */
        linear-gradient(#fff 0 0);
    /* this will cover all the area */
    -webkit-mask-composite: xor;
    /* needed for old browsers until the below is more supported */
    mask-composite: exclude;
    /* this will exclude the first layer from the second so only the padding area will be kept visible */
}

.moz i::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 400px;
    /* background: linear-gradient(white 50%, #5F5753 0); */
    background: linear-gradient(white 40%, #A8A19D 60%, #3e3b39 100%);
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform .7s linear;
}

.moz:hover i::before {
    transform: translate(-50%, -50%) rotate(315deg);
}

.menu {
    & :where(li){
        position: unset !important;
    }
}